### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data, school_data, how="inner", on=["school_name", "school_name"])

school_data_complete_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
#summary calculations
school_count = school_data_complete_df["school_name"].nunique()
student_count = school_data_complete_df["student_name"].count()
#total_budget = school_data_complete_df["budget"].mean()
math_average = school_data_complete_df['math_score'].mean()
read_average = school_data_complete_df['reading_score'].mean()

school_data_complete_df['Total Schools'] = school_count
school_data_complete_df['Total Students'] = student_count
#school_data_complete_df['Total Budget'] = total_budget
school_data_complete_df['Average Math Score'] = math_average
school_data_complete_df['Average Reading Score'] = read_average

#formatting
#school_data_complete_df['Total Students'] = school_data_complete_df['Total Students'].map("{:,}".format)

school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,Total Schools,Total Students,Average Math Score,Average Reading Score
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,15,39170,78.985371,81.87784
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,15,39170,78.985371,81.87784
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,15,39170,78.985371,81.87784
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,15,39170,78.985371,81.87784
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,15,39170,78.985371,81.87784

In [3]:
school_data_complete_df.dtypes

Student ID                 int64
student_name              object
gender                    object
grade                     object
school_name               object
reading_score              int64
math_score                 int64
School ID                  int64
type                      object
size                       int64
budget                     int64
Total Schools              int64
Total Students             int64
Average Math Score       float64
Average Reading Score    float64
dtype: object

In [4]:
#total budget

unique_budget = school_data_complete_df['budget'].unique()


total_budget = unique_budget.sum()
#total_budget = '$' + unique_budget.sum().round(2).astype(str) + '.00'

total_buget = str(total_budget)


#type(total_budget)

print(total_budget)
print(unique_budget)
type(total_budget)

24649428
[1910635 1884411 1056600 3022020  917500 1319574 1081356 3124928  248087
  585858 1049400 2547363 3094650 1763916 1043130]

numpy.int64

In [5]:
# % passing math
pass_math_df = school_data_complete_df.loc[school_data_complete_df["math_score"] >= 70, :    ]
pass_math_count = pass_math_df['math_score'].count()
math_pass = (pass_math_count / student_count * 100).round(6)

In [6]:
# % passing reading
pass_read_df = school_data_complete_df.loc[school_data_complete_df['reading_score'] >= 70, :   ]
pass_read_count = pass_read_df['reading_score'].count()
read_pass = (pass_read_count / student_count * 100).round(6)

In [7]:
# % passing reading and math
pass_read_math_df = school_data_complete_df.loc[(school_data_complete_df['math_score'] >= 70) & 
                                                (school_data_complete_df['reading_score'] >= 70), :  ]
pass_read_math_count = pass_read_math_df['reading_score'].count()
pass_read_math = (pass_read_math_count / student_count * 100).round(6)

In [8]:
district_summary_df = pd.DataFrame({'Total Schools': [school_count], 
                                   'Total Student': [student_count],
                                   'Total Budget': total_buget,
                                    'Average Math Score': math_average,
                                    'Average Reading Score': read_average,
                                    '% Passing Math': math_pass,
                                    '% Passing Reading': read_pass,
                                    '% Overall Passing': pass_read_math,
                                   })

district_summary_df
#missing formatting for total student. missing total_budget formatting

,Total Schools,Total Student,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [9]:
district_summary_df.dtypes

Total Schools              int64
Total Student              int64
Total Budget              object
Average Math Score       float64
Average Reading Score    float64
% Passing Math           float64
% Passing Reading        float64
% Overall Passing        float64
dtype: object


## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [10]:
school_split_df = school_data_complete_df

In [11]:
#create pass and fail math score bins
bins = [0, 69.9, 100]

group_labels = [0 , 1]

school_split_df["Math Pass/Fail"] = pd.cut(school_split_df['math_score'], bins, labels=group_labels)
school_split_df["Reading Pass/Fail"] = pd.cut(school_split_df['reading_score'], bins, labels=group_labels)

In [13]:
#casting 
school_split_df["Math Pass/Fail"] = school_split_df["Math Pass/Fail"].astype("int")
school_split_df["Reading Pass/Fail"] = school_split_df["Reading Pass/Fail"].astype("int")

In [14]:
school_split_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,Total Schools,Total Students,Average Math Score,Average Reading Score,Math Pass/Fail,Reading Pass/Fail
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,15,39170,78.985371,81.87784,1,0
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,15,39170,78.985371,81.87784,0,1
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,15,39170,78.985371,81.87784,0,1
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,15,39170,78.985371,81.87784,0,0
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,15,39170,78.985371,81.87784,1,1

In [18]:
group_df = school_split_df.groupby(["school_name"])

group_df.sum()

,Student ID,reading_score,math_score,School ID,size,budget,Total Schools,Total Students,Average Math Score,Average Reading Score,Math Pass/Fail,Reading Pass/Fail
school_name,,,,,,,,,,,,
Bailey High School,101303896,403225,383393,34832,24760576,15549641728,74640,194909920,393031.208374,407424.132755,3318,4077
Cabrera High School,31477307,156027,154329,11148,3452164,2009159448,27870,72777860,146754.820168,152129.027062,1749,1803
Figueroa High School,12949059,239335,226223,2949,8696601,5557128039,44235,115512330,232927.860429,241457.750702,1946,2381
Ford High School,99055935,221164,211184,35607,7502121,4831365924,41085,107286630,216340.932423,224263.404263,1871,2172
Griffin High School,19077394,123043,122360,5872,2155024,1346890000,22020,57501560,115950.525300,120196.669390,1371,1426
Hernandez High School,46090440,375131,358238,13905,21483225,14007062700,69525,181552950,366097.196707,379503.789252,3094,3748
Holden High School,9846620,35789,35784,3416,182329,105933149,6405,16725590,33726.753612,34961.837758,395,411
Huang High School,4252986,236810,223528,0,8508889,5573322295,43755,114258890,230400.328542,238837.659816,1916,2372
Johnson High School,154327815,385481,366942,57132,22667121,14733628650,71415,186488370,376049.353510,389820.397115,3145,3867
Pena High School,22851829,80851,80654,8658,925444,563595396,14430,37681540,75983.927342,78766.482257,910,923
Rodriguez High School,112111965,322898,307294,43989,15992001,10186904637,59985,156640830,315862.500460,327429.482895,2654,3208
Shelton High School,11879706,147441,146796,3522,3101121,1860672600,26415,68978370,139093.239137,144186.876564,1653,1688
Thomas High School,62705520,137093,136389,22890,2673225,1705517550,24525,64042950,129141.082333,133870.268701,1525,1591
Wilson High School,33950493,191748,190115,11415,5212089,3012587442,34245,89425110,180323.603038,186927.109140,2143,2204
Wright High School,45243900,151119,150628,18000,3240000,1888920000,27000,70506000,142173.668624,147380.112331,1680,1739

In [ ]:
group_df[["Math Pass/Fail"]].sum()

In [ ]:
total_students = group_df[['Student ID']].count()
total_students

In [19]:
#creating columns for summary data table
reading_score_average = group_df["reading_score"].mean()
math_score_average = group_df['math_score'].mean()
total_students = group_df['Student ID'].count() 
percent_math_pass = (group_df["Math Pass/Fail"].sum() / group_df['Student ID'].count()) * 100
percent_read_pass = (group_df["Reading Pass/Fail"].sum() / group_df['Student ID'].count()) * 100

In [22]:
school_summary_df = pd.DataFrame({'Average Reading Score': reading_score_average,
                                 'Average Math Score': math_score_average,
                                 'Total Students': total_students,
                                 '% Pass Math': percent_math_pass,
                                 '# Pass Reading': percent_read_pass})

school_summary_df.head()

,Average Reading Score,Average Math Score,Total Students,% Pass Math,# Pass Reading
school_name,,,,,
Bailey High School,81.033963,77.048432,4976,66.680064,81.933280
Cabrera High School,83.975780,83.061895,1858,94.133477,97.039828
Figueroa High School,81.158020,76.711767,2949,65.988471,80.739234
Ford High School,80.746258,77.102592,2739,68.309602,79.299014
Griffin High School,83.816757,83.351499,1468,93.392371,97.138965

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [ ]:
#head

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [ ]:
#tail

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type